button{
    padding: .9rem 2.2rem;
    color:white;
    border-radius: 10px ;
    margin: 0 .5rem;
    cursor: pointer;
    background-color:rgb(92,175,222);
    height: 10%;
}
.accent{
    border: 0px solid white;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: var(--color-accent);
    height: 15%;
}
.accent:hover{
    background-color: #f3900f;
}

.blue{
    background-color: var(--color-header);
    border: 0px solid white;
    width: 20rem;
    margin: 2rem;
    margin-left: 0;
}
.blue:hover{
    background-color: var(--color-footer);
}
.cartOpenBtn{
    padding: 0;
    margin: 0;
    width: fit-content;
}


@media screen and (max-width:1000px) {
    button{
        padding: 1rem 1.6rem;
    }
}
@media screen and (max-width:1300px) {
    .accent{
        height: 12%;
    }
}